fastapi
uvicorn
requests
marshmallow
flagsmith-flag-engine @ git+https://github.com/Flagsmith/flagsmith-engine.git@feat/schemas
python-decouple
python-dotenv
pydantic
# sse-stuff
sse-starlette
asyncio
redis
