fastapi
uvicorn
requests
marshmallow
flagsmith-flag-engine @ git+https://github.com/Flagsmith/flagsmith-engine.git@2186-consistent-percentage-split-evaluation
python-decouple
python-dotenv
pydantic
# sse-stuff
sse-starlette
asyncio
redis
