name: Publish Docker Images

on:
    push:
        branches:
            - main
        tags:
            - "*"

jobs:
    build-dockerhub:
        runs-on: ubuntu-latest
        name: Platform Publish Docker Image

        steps:
            - name: Cloning repo
              uses: actions/checkout@v4

            - name: Docker metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: |
                      flagsmith/edge-proxy
                  flavor: |
                      latest=${{ startsWith(github.ref, 'refs/heads/main') }}
                  tags: |
                      type=ref,event=branch
                      type=semver,pattern={{version}}
                      type=semver,pattern={{major}}.{{minor}}

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to DockerHub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push
              id: docker_build
              uses: docker/build-push-action@v5
              with:
                  platforms: linux/amd64,linux/arm64
                  file: Dockerfile
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}

            - name: Image digest
              run: echo ${{ steps.docker_build.outputs.digest }}
